<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>jersey-serlvet</servlet-name>
        <servlet-class>
            com.sun.jersey.spi.container.servlet.ServletContainer
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUser</servlet-name>
        <servlet-class>servlets.GetUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Appointments</servlet-name>
        <servlet-class>servlets.Appointments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>servlets.Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerDoctor</servlet-name>
        <servlet-class>servlets.GerDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUncertifiedDoctors</servlet-name>
        <servlet-class>servlets.GetUncertifiedDoctors</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CertifyDoctor</servlet-name>
        <servlet-class>servlets.CertifyDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserData</servlet-name>
        <servlet-class>servlets.GetUserData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>servlets.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewUser</servlet-name>
        <servlet-class>servlets.NewUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewHospital</servlet-name>
        <servlet-class>servlets.NewHospital</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMessages</servlet-name>
        <servlet-class>servlets.GetMessages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAppointments</servlet-name>
        <servlet-class>servlets.GetAppointments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VaccineDone</servlet-name>
        <servlet-class>servlets.VaccineDone</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUser</servlet-name>
        <url-pattern>/GetUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDoctor</servlet-name>
        <url-pattern>/GetDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Appointments</servlet-name>
        <url-pattern>/Appointments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jersey-serlvet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUncertifiedDoctors</servlet-name>
        <url-pattern>/GetUncertifiedDoctors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CertifyDoctor</servlet-name>
        <url-pattern>/CertifyDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserData</servlet-name>
        <url-pattern>/GetUserData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/UpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewUser</servlet-name>
        <url-pattern>/NewUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewHospital</servlet-name>
        <url-pattern>/NewHospital</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMessages</servlet-name>
        <url-pattern>/GetMessages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAppointments</servlet-name>
        <url-pattern>/GetAppointments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VaccineDone</servlet-name>
        <url-pattern>/VaccineDone</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
